@charset "UTF-8";

// ----------------------
// == Site settings

// ----------------------

// Fonts
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Abril Fatface', sans-serif;
$font-btn: 'Lato', sans-serif;

// = Colors
// -----------------------------

// Graphic chart
$color-Body: #141414;
$color-dark: #898888;





// = Grid
// -----------------------------

//Forms
