footer {
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: 100;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    a {
        text-decoration: none;
        color:black;
    }
}

@media screen and (max-width: 535px) {
    footer {
        font-size: 10px;
    }
}