/* ==|====================
   Layout/Header
   ======================= */

#header {
   background: url('/images/bg.jpg') no-repeat;
   height: 80vh;
   background-size: cover;
   padding: 0 67px 50px 67px;
}

.header__inner {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.header__title {
   font-family: $font-secondary;
   color: white;
   font-size: 75px;
   font-weight: 100;
}


.btn--scroll {

   text-decoration: none;
   letter-spacing: 2px;
   color: white;
   svg {
      margin-left: 5px;
   }
}

//for small screen
@media screen and(max-width: 768px) {

}

//For mobile
@media screen and (max-width: 512px) {
   .header__title {
      font-size: 60px;
      text-align: center;
   }
}