/* ==|====================
   Layout/Nav
   ======================= */
nav {
   margin-left: -40px;
   height: 140px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.nav__container--logo {
   margin-right: 55px;
}

.nav-links {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn--nav {
   margin-right: 45px;
   color: white;
   text-decoration: none;
}
.logo {
   width: 160px;
}