/* ==|====================
   Layout/Nav
   ======================= */
nav {
   margin-left: -40px;
   height: 140px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
}

.nav__container--logo {
   margin-right: 55px;
}

.nav-links {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn--nav {
   margin-right: 45px;
   color: white;
   text-decoration: none;
}
.logo {
   width: 160px;
}



@media screen and (max-width: 768px) {
   .nav-links {
      position: absolute;
      right: 0px;
      margin: 0;
      height: 100vh;
      top: 50px;
      background-color: #080808;
      flex-direction: column;
      justify-content: start;
      width: 60%;
      line-height: 200px;
      padding: 0;
      transform: translateX(100%);
      transition: transform 0.5s ease-in-out;
   }
   .nav-active {
      transform: translateX(0%);
   }
}