/* ==|====================
   Layout/Nav
   ======================= */
nav {
   width:   95%;
   margin: 0 auto 0 auto;
   height: 140px;
   display: flex;
   align-items: center;
}

.nav__container--logo {
   margin-right: 55px;
}

.nav-links {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.btn--nav {
   margin-right: 45px;
   color: $white;
   text-decoration: none;
   &:hover {color: white;}
}

.logo {
   width: 160px;
}



@media screen and (max-width: 768px) {
   .nav-links {
      display: none;
   }
   .nav-active {
      display: block;
   }
}





@media screen and (max-width: 512px) {
   nav {
      width: 100%;
   }
   .logo {
      width: 100px;
   }
}