/* ==|====================
   Layout/Section subscription
   ======================= */

.container__section--subscription {
    width: 100%;
    height: 318px;
    background-color: #585A89;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub__title {
    color: white;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 20px;
}

.sub__p {
    color: white;
    font-size: 16px;
    font-weight: 100;
    width: 80%;
}

.subscription__container--right {
    display: flex;
    justify-content: flex-end;
}

.subscription__form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input--sub {
    width: 100%;
    margin-bottom: 20px;
}
.btn--sub {
    width: 174px;
}

@media screen and (max-width: 727px) {
    .container__section--subscription {
        height: 410px;
    }
    #subscription {
        flex-direction: column;
    }
    .sub__title {
        font-size: 24px;
    }
    .sub__p {
        text-align: center;
        font-size: 13px;
        width: 100%;
    }
    .subscription__form {
        width: 100%;
    }
    .input--sub {
        margin-top: 15px;
        margin-bottom: 0;
    }
    .btn--sub {
        width: 100%;
    }
}