/* ===========================
   Section Pants
   =========================== */
#pants {
    margin-top: 150px;
    min-width: 150vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 400px);
}

.container__pant {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}



.container__pant--img1 {
    background: url('/images/nos_plantes/1.jpg') no-repeat;
    background-position: center;
    background-size: cover;
    grid-column: 1/3;
    grid-row: 1/3;

}

.container__pant--img2 {
    background: url('/images/nos_plantes/2.jpg');
    grid-column: 3/5;
    background-position: center;
    background-size: cover;
}

.container__pant--img3 {
    background: url('/images/nos_plantes/3.jpg');
    grid-column: 3/5;
    background-position: center;
    background-size: cover;
}

.container__pant--img4 {
    background: url('/images/nos_plantes/4.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 1;
    grid-row: 3/5;
}

.container__pant--img5 {
    background: url('/images/nos_plantes/5.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 2/4;
    grid-row: 3/5;
}

.container__pant--img6 {
    background: url('/images/nos_plantes/6.jpg');
    background-position: center;
    background-size: cover;
    grid-column: 4;
    grid-row: 3/5;
}