/* ===========================
   Section Pants
   =========================== */
#pants {
    margin-top: 150px;
}

.container__pants--up {
    display: flex;
    height: 900px;
    background-color: yellowgreen;
}

.container__pant--left {
    height: 100%;
    width: 50%;
    background-color: rebeccapurple;
}

.container__pants--right {
    background-color: red;
    height: 50%;
    width: 50%;
}